extends layout

block body
  main
    h1 流文件传输
    h2#logHeading(style='display: none') 日志
    .speed
    .log

    h2 添加文件
    p
      | 拖拽文件便可直接分享，或者点击选择文件:
      | #{ ' ' }
      input(type='file', name='upload', multiple)

    h2 下载文件
    form
      label(for='torrentId') 输入文件hash或者输入磁链接下载文件
      input(name='torrentId', placeholder='magnet:' required)
      button(type='submit') 下载
